* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  box-sizing: border-box;
  background-color: #010c1b;
  color: white;
}

/* Wrapper */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* First */

.first_div{
    height: 100vh;
}

.first_text{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    max-width: 440px;
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    .first_text{
        font-size: 28px;
    }
}

/* Second */

.second_div {
  margin-top: 30px;
  color: white;
}

.always_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid rgba(233, 230, 230, 0.151);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.second_div .second_header_element {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Third */

.third_div .third_div_texts {
  display: flex;
  align-items: start;
  gap: 20px;
  max-width: 500px;
}

.third_div_texts h4 {
  font-weight: 700;
  font-size: 22px;
}
.third_div_texts p {
  margin-top: 15px;
  font-size: 18px;
}

.third_dual_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.third_dual_div img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .third_dual_div {
    flex-direction: column;
  }
}

/* Sixth */

.sixth_div {
  position: relative;
}

.sixth_div_textDiv {
  background-color: rgba(255, 255, 255, 0.137);
  backdrop-filter: blur(10px);
  padding: 10px;
  margin-top: 20px;
}

.sixth_div_textDiv h4 {
  color: blue;
  font-weight: 700;
  margin-bottom: 15px;
}

.sixth_div_textDiv p {
  font-size: 18px;
}

.sixth_block_image {
  margin-top: 100px;
}

.sixth_block {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .sixth_block {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .sixth_div {
    display: none;
  }
}

/* Ninth */

.ninth_div {
  position: relative;
}

.ninth_div h2 {
  font-size: 28px;
  max-width: 800px;
  margin-bottom: 30px;
}

.ninth_dual_div {
  display: flex;
  align-items: start;
  gap: 20px;
}

.ninth_dual_div ul li {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: start;
  gap: 10px;
  margin-top: 10px;
}

.ninth_dual_div ul li img{
  width: 25px;
}

@media screen and (max-width: 768px) {
  .ninth_dual_div {
    flex-direction: column;
  }
}

/* Tenth */

.tenth_div {
  margin-top: 150px;
}

.tenth_div_texts {
  margin-top: 20px;
  max-width: 500px;
}

.tenth_div_texts ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tenth_div_texts ul li {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: start;
  gap: 10px;
  margin-bottom: 10px;
}

.tenth_div_texts ul li img {
  width: 25px;
}

/* Eleventh */

.eleventh_div {
  margin-top: 100px;
  position: relative;
}

.eleventh_div_texts {
  max-width: 500px;
}

.eleventh_div_texts span {
  color: gray;
  font-weight: 600;
  text-transform: uppercase;
}

.eleventh_quote_section {
  display: flex;
  align-items: start;
  gap: 30px;
  margin-top: 33px;
}

.eleventh_quote_section h4 {
  font-weight: 700;
  font-size: 22px;
}

.eleventh_div_texts ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.eleventh_div_texts ul li {
  font-size: 18px;
  font-weight: 500;
}

.social_media {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social_media div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social_media div img {
  width: 25px;
}

.eleventh_right_text_div {
  display: flex;
  flex-direction: column;
}

.eleventh_right_text_div p {
  background-color: rgba(255, 255, 255, 0.089);
  backdrop-filter: blur(10px);
  padding: 20px;
  max-width: 500px;
}

.eleventh_dual_div {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

.manText_div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-top: 100px;
}

.manText_div h4 {
  font-weight: 700;
  font-size: 22px;
}
.manText_div span {
  font-weight: 500;
  font-size: 18px;
}

.manText_div_texts {
  max-width: 200px;
}

.man_picture {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100px;
  bottom: 0;
  top: 0;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .eleventh_dual_div {
    flex-direction: column;
  }
  .man_picture {
    max-width: 100%;
  }
}

/* Twelfth */

.twelfth_div_texts {
  margin-top: 20px;
  max-width: 350px;
}

/* thirteenth */

.thirteenth_div_texts {
  margin-top: 20px;
  max-width: 400px;
}

/* Fifteenth */

.manText_div_texts_fifteenth {
  max-width: 300px;
}

/* Map */

.map {
  margin-top: 200px;
}

.map img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Contacts */

.contacts {
  margin-top: 200px;
}

.contacts .contact_text {
  color: gray;
  text-transform: uppercase;
  font-weight: 700;
}

.contacts .qr_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-top: 150px;
  max-width: 100%;
}

.contact_bottom {
  display: flex;
  align-items: start;
  justify-content: space-between;
  font-size: 18px;
  gap: 30px;
}

.contact_bottom_1 {
  margin-top: 100px;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: start;
  flex-direction: column;
}

.contact_bottom_1 h4 {
  width: 100%;
  border-bottom: 1px solid white;
}

.contact_bottom_info_1 {
  display: flex;
  align-items: start;
  gap: 50px;
}
@media screen and (max-width: 992px) {
  .contacts .qr_div {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .contact_bottom_info_1 {
    flex-direction: column;
  }
}
